<!--Main Navigation-->
<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark pink scrolling-navbar bg-dark">
    <a class="navbar-brand" href="#">Student Degrees</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink ="/Student">Student <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink ="/Subject">Subject</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink ="/SubjectStudent">Stuendt Subject</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink ="/Degree">Degree</a>
        </li>

      </ul>
    </div>
  </nav>

</header>
<!--Main Navigation-->